body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    font-size: 35px;
    color: #000;
    font-weight: bold;
}

#info-extra {
    background-color: rgb(21, 23, 26);
    color: rgb(95, 93, 93);
    text-align: center;
    padding: 50px 0 30px 0;
    margin-top: 40px;
}

#testimonial {
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

#separation {
    padding: 30px 0 30px 0;
    margin-top: 10px;
}